@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{

	/* C-6 */
	color: brown;
}

#introfirst img
{
	
	/* D-5 */
	width: 300px;
}

#introsecond a{
	text-decoration: none;
	color: #0F56AA;
}

#introsecond{
	padding-top: 150px;
	padding-bottom: 50px;
}

#accordionExample img{
	border-radius: 10px;
}

#QAfirst{
	margin-top: 100px;
	margin-right:200px;
}

.accordion{
	box-shadow:0 0 10px rgba(0,22,0,0.8);
	border-radius: 5px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}


.a{
	color: #AA779F;
	background-color: #FEE07F;
}

.b{
	color: #AA779F;
	background-color: #FEE07F;
}


.c{
	color:#AA779F;
	background-color: #FEE07F;
}

#location{
	margin-top: 80px;
	margin-left: 100px;
}